@font-face {
  font-family: "angelika-playfull";
  src: url("./angelika-playfull-font/AngelikaPlayfull-2Og5l.otf");
  font-display: swap;
}

@font-face {
  font-family: "HamburgeRegular";
  src: url("./hamburge-font/HamburgeRegular-eZjXB.ttf");
  font-display: swap;
}
