/*start footer*/
footer {
  background: rgb(22 44 59);
  color: white;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
}

/*end footer*/

/* start responsiv design */

@media screen and (max-width: 425px) {
  .footer-container {
    justify-content: center;
    flex-direction: column;
  }
}

/* end responsive design */