@import url("./fonts/fonts.css");
@import url("./utils/Inputs.css");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "HamburgeRegular";
}

ul {
  list-style: none;
}

header.scrolling {
  background-color: #173953c1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 4px;
}

div.nav-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

button.nav-menu {
  display: none;
}

.logo {
  font-family: "angelika-playfull";
  width: fit-content;
  color: #09c6f9;
  font-size: 50px;
  margin-inline: 20px;
  margin-block: 10px 0;
  text-shadow: -2px -2px #00000059;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: min-content;
}

.nav-section li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-inline: 15px;
}

.nav-section li a.active {
  text-decoration: none;
  text-shadow: 0px 1px 1px #00000066;
  font-weight: 600;
  color: #3cdbed;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff6b;
  backdrop-filter: blur(10px);
}

.nav-menu {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  gap: 20px;
}

.nav-menu .close {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translate(0px, -30%);
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  place-content: center;
  align-items: center;
}

.home-container p:first-of-type {
  font-size: 80px;
  margin-block: 20px 0px;
  color: rgb(106, 223, 255);
  text-shadow: rgba(0, 0, 0, 0.37) 2px -1px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.home-container h1 {
  margin-block: 10px;
  font-size: 80px;
}

.home-container .logo {
  font-size: 82px;
  margin-inline: 0;
}

.home-container p.details {
  font-size: 25px;
  margin-block: 0px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a.social-icon {
  font-size: 35px;
  margin-inline: 10px;
  color: rgb(255, 255, 255);
}

a.social-icon:hover {
  color: #09c6f9;
}

a.facebook:hover {
  color: #1b74e4;
}

a.linkedin:hover {
  color: #0a66c2;
}

#arrow {
  transition: all;
  position: absolute;
  top: -16px;
  animation-name: arrow;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrow {
  0% {
    top: -16px;
  }
  100% {
    top: 16px;
  }
}

/*start about section*/

section#About h2 {
  font-size: 40px;
  margin-block: 20px;
  color: #09c6f9;
  text-shadow: 2px 2px 5px #00000059;
}

section#About p {
  font-size: 18px;
}

/*end about section*/

/* start portfolio section */
section#Portfolio p {
  font-size: 20px;
  font-weight: 600;
  color: #09c6f9;
  text-shadow: 0px -1px 0px #000000cf;
  margin-block: 10px;
  text-align: center;
}

section#Portfolio h2 {
  text-align: center;
  font-size: 40px;
  margin-block: 20px;
  color: #09c6f9;
  text-shadow: 2px 1px 3px #000000cf;
}

section#Portfolio ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
  align-content: center;
}

li.project,
.innerDiv .cover img {
  width: calc(100% / 2.2);
}

.innerDiv {
  width: 100%;
  height: auto;
  position: relative;
  clear: both;
}

.innerDiv .cover {
  position: relative;
}

.innerDiv .cover img {
  opacity: 0;
  min-width: 100%;
}

.innerDiv .cover .main-cover {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}

.overflow {
  background-color: rgb(37 63 80 / 61%);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  border-radius: 2%;
}

li.project .innerDiv:hover .overflow {
  opacity: 1;
  visibility: visible;
}

li.project .project-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -10px;
  left: 0;
  z-index: 2;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

li.project .innerDiv:hover .project-details {
  opacity: 1;
  visibility: visible;
}

.project-details .code {
  margin-block: 10px;
}
/* end portfolio section */

/* start skills section*/
section#Skills h2 {
  font-size: 40px;
  margin-block: 20px;
  color: #09c6f9;
  text-shadow: 2px 2px 5px #00000059;
  text-align: center;
}

ul.skills-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-container .skill-card {
  position: relative;
  width: 220px;
  height: 250px;
  background: #265585;
  box-shadow: 0 0 3px 3px #489ff8c4;
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container .skill-card .circle,
.skills-container .skill-card .circle svg {
  width: 150px;
  height: 150px;
  position: relative;
}

.circle svg {
  transform: rotate(270deg);
}

.skills-container .skill-card .circle {
  background: #9098a080;
  border-radius: 50%;
}

.skills-container .skill-card .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 10;
  stroke: #ffffffec;
  transform: translate(5px, 5px);
}

.skills-container .skill-card .circle svg circle:nth-child(2) {
  stroke: #09c6f9;
  stroke-width: 5;
  stroke-dasharray: 440;
}

.skill-card .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--present)));
}

.dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -7.5px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: #09c6f9;
  box-shadow: 0 0 10px #09c6f9, 0 0 30px #09c6f9;
}

.skill-details {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  flex-direction: column-reverse;
  color: white;
  font-weight: 700;
}

.skill-details p {
  margin-block: 0px;
}

.skill-details p:nth-child(2) {
  font-size: 35px;
  text-shadow: 0 0 6px #2c2e3d;
  margin-bottom: 0;
}

/* end skills section*/

/* start contact section */

section#contact h2 {
  text-align: center;
  font-size: 40px;
  margin-block: 20px;
  color: #09c6f9;
  text-shadow: 2px 1px 3px #000000cf;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success {
  margin-block: 10px;
  background: green;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px black;
  color: white;
}

/* end contact section */

/*start footer*/
footer {
  background: rgb(22 44 59);
  color: white;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
}

/*end footer*/

/* Start Responisve Design */
@media screen and (max-width: 900px) {
  .home-container p:first-of-type {
    margin: 0;
  }

  .home-container h1 {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-section {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  div.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  button.nav-menu {
    display: block;
  }

  li.project,
  .innerDiv .cover img {
    width: 100%;
  }

  ul.skills-container {
    gap: 15px;
  }

  .home-container {
    gap: 25px;
  }

  .home-container p:first-of-type {
    font-size: 70px;
  }

  .home-container h1,
  .home-container .logo {
    font-size: 65px;
  }

  .home-container p.details {
    font-size: 22px;
  }
}

@media screen and (max-width: 590px) {
  .home-container {
    gap: 20px;
  }

  .home-container p:first-of-type {
    font-size: 65px;
  }

  .home-container h1,
  .home-container .logo {
    font-size: 52px;
  }
}

@media screen and (max-width: 425px) {
  .footer-container {
    justify-content: center;
    flex-direction: column;
  }

  .home-container {
    gap: 10px;
  }

  .home-container p:first-of-type {
    font-size: 60px;
  }

  .home-container h1,
  .home-container .logo {
    font-size: 55px;
  }
}

@media screen and (max-width: 320px) {
  .home-container p:first-of-type {
    font-size: 44px;
  }

  .home-container h1,
  .home-container .logo {
    font-size: 40px;
  }

  .home-container p.details {
    margin-block: 0px;
    font-size: 22px;
    margin-inline: 10px;
  }
}
/* End Responisve Design */
